body, html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #111;
    color: #eee;
}

#content {
    display: grid;
    grid-template-columns: minmax(15px, 1fr) minmax(290px, 800px) minmax(15px, 1fr);

}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/restaurant.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: minmax(15px, 1fr) minmax(290px, 800px) minmax(15px, 1fr);
    grid-template-rows: 1fr auto;
    align-items: end;
    border-bottom: 1px solid #bbb;
}

header h1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0;
    align-self: end;
    font-size: 3em;
}

nav {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-btn {
    position: relative;
    background-color:rgba(30, 30, 30, 0.7);
    border-top: 1px solid #444;
    border-right: 1px solid #444;
    border-left: 1px solid #444;
    border-bottom: 1px solid #bbb;
    padding: 5px 20px 5px 20px;
    margin-right: 5px;
    margin-bottom: -1px;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.4s ease;
}

.nav-btn:hover {
    background-color:rgba(238, 238,238, 0.18);
}

.nav-btn.active {
    background-color: #111;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #111;
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-right: 0px;
    }

    .nav-btn {
        border-top: 1px solid #bbb;
        border-right: 1px solid #bbb;
        border-left: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
    }

    .nav-btn.nav-btn.active:hover {
        background-color:rgba(238, 238,238, 0.18);
    }
}


main {
    grid-column: 2 / 3;
    padding-top: 20px;
}

footer {
    grid-column: 2 / 3;
    margin-top: 30px;
}